---
---

@import "";


@font-face {
    font-family: 'carme';
    src: url('../fonts/carme-regular-webfont.woff2') format('woff2'),
         url('../fonts/carme-regular-webfont.woff') format('woff'),
         url('../fonts/carme-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




.navbar-nav {

    @for $item from 1 through 4 {
        .nav-item:nth-child(#{$item}) {
            @include fadeInRight($duration: 1.2s, $count: 1, $delay: ($item/4) s, $function: ease, $fill: both);
        }
    }
}